.prod{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin-top: 4em;
    margin-bottom: 5.5em;
}

.titulo{
    margin-top: 2.5em;
    
}


