.imgabout{
    width: 40em;
    margin-right: 8em;
}


.about{
    height: 40em;
    margin-top: 15px;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #f29400;
}
.about-info{
    color: white;
    font-size: large;
}