/*color principal : F29400*/


.logo {
    height: 4em;
    margin-left: 2em;
}
.bg-dark {
    background-color: white !important;
    z-index: 2;
}
.nav-link{
    display: flex;
    color: #000 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
    margin-left: 1em;
}
.nav-link:hover{
    color: #f29400 !important;
    transform: scale(1.2);
}


.navbar{
    display: flex;
    align-items: flex-end;
    z-index: 10; 
    box-shadow: 1px 3px 15px black; 
}

.star{
    height: 1em;
    padding: 1px;
    
}

.star:hover{
    transform: scale(1.2);
}

